pipeline/Deploy_Linked_Services.json
{
	"name": "Deploy_Linked_Services",
	"properties": {
		"description": "Pipeline responsible for deployment of Linked Services, Data sets, Pipelines and Data Flows.",
		"activities": [
			{
				"name": "Get_Linked_Services_for_deployment",
				"description": "Activity responsible for getting list of linked services that are in a need for deployment.",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get_Framework_Parameters_Log_Success",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select   linked_service_skid\n       , linked_service_name\n\t   , linked_service_desc\n\t   , linked_service_param_json\n  from [meta].[linked_service_instance_cfg] where update_date > ISNULL(linked_service_last_deploy_date,'1900-01-01')\n order by linked_service_skid\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_metadata_db",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Get_Framework_Parameters",
				"description": "Activity responsible for getting framework ADF parameters.",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT *\nFROM \n(SELECT param_name, param_value\nfrom [meta].[framework_cfg]) as params\nPIVOT \n(\nmin(param_value) \nFOR param_name IN ([RESOURCE_GROUP],[SUBSCRIPTION_ID],[FACTORY_NAME],[API_VERSION])\n) as pvt",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_metadata_db",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Deploy_Linked_Services",
				"description": "Activity responsible for looping through linked services to be deployed.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get_Linked_Services_for_deployment_Log_Success",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_Linked_Services_for_deployment').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Create_Or_Update_Linked_Service",
							"description": "Activity responsible for calling ADF REST API to deploy linked service",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Get_Linked_Service_template_Log_Success",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "https://management.azure.com/subscriptions/@{activity('Get_Framework_Parameters').output.firstRow.subscription_id}/resourceGroups/@{activity('Get_Framework_Parameters').output.firstRow.resource_group}/providers/Microsoft.DataFactory/factories/@{activity('Get_Framework_Parameters').output.firstRow.factory_name}/linkedservices/@{item().linked_service_name}?api-version=@{activity('Get_Framework_Parameters').output.firstRow.api_version}",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "integrationRuntimeManagedVN",
									"type": "IntegrationRuntimeReference"
								},
								"method": "PUT",
								"body": {
									"value": "@{activity('Get_Linked_Service_template').output.firstRow.template_filled}",
									"type": "Expression"
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://management.azure.com/"
								}
							}
						},
						{
							"name": "Get_Linked_Service_template",
							"description": "Activity responsible for getting linked service JSON template.",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[meta].[p_get_object_json_code]",
									"storedProcedureParameters": {
										"in_object_skid": {
											"type": "Int32",
											"value": {
												"value": "@item().linked_service_skid",
												"type": "Expression"
											}
										},
										"in_object_type_code": {
											"type": "String",
											"value": "LS"
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_metadata_db",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Update_last_deploy_date",
							"description": "Activity responsible for executing store procedure in order to update last delpoy date.",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Create_Or_Update_Linked_Service_Log_Success",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[meta].[p_update_object_deployment_date]",
								"storedProcedureParameters": {
									"in_object_skid": {
										"value": {
											"value": "@item().linked_service_skid",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"in_object_type_code": {
										"value": "LS",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureSQL_metadataDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Get_Linked_Service_template_Log_Success",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Get_Linked_Service_template",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[meta].[p_fill_process_log]",
								"storedProcedureParameters": {
									"in_activity_type": {
										"value": "Lookup",
										"type": "String"
									},
									"in_message": {
										"value": {
											"value": "@concat('Get_Linked_Service_template: ', activity('Get_Linked_Service_template').output.firstRow)",
											"type": "Expression"
										},
										"type": "String"
									},
									"in_pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"in_pipeline_parameters": {
										"value": "None",
										"type": "String"
									},
									"in_pipeline_run_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"in_status_code": {
										"value": {
											"value": "INFO",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureSQL_metadataDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Get_Linked_Service_template_Log_Fail",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Get_Linked_Service_template",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[meta].[p_fill_process_log]",
								"storedProcedureParameters": {
									"in_activity_type": {
										"value": "Lookup",
										"type": "String"
									},
									"in_message": {
										"value": {
											"value": "@concat('Error in activity Get_Linked_Service_template: ', activity('Get_Linked_Service_template').Error.Message)",
											"type": "Expression"
										},
										"type": "String"
									},
									"in_pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"in_pipeline_parameters": {
										"value": "None",
										"type": "String"
									},
									"in_pipeline_run_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"in_status_code": {
										"value": "FINISHED WITH ERRORS",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureSQL_metadataDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Create_Or_Update_Linked_Service_Log_Success",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Create_Or_Update_Linked_Service",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[meta].[p_fill_process_log]",
								"storedProcedureParameters": {
									"in_activity_type": {
										"value": "Web",
										"type": "String"
									},
									"in_message": {
										"value": {
											"value": "@concat('Create_Or_Update_Linked_Service: ', activity('Create_Or_Update_Linked_Service').output)",
											"type": "Expression"
										},
										"type": "String"
									},
									"in_pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"in_pipeline_parameters": {
										"value": "None",
										"type": "String"
									},
									"in_pipeline_run_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"in_status_code": {
										"value": {
											"value": "INFO",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureSQL_metadataDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Create_Or_Update_Linked_Service_Log_Fail",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Create_Or_Update_Linked_Service",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[meta].[p_fill_process_log]",
								"storedProcedureParameters": {
									"in_activity_type": {
										"value": "Web",
										"type": "String"
									},
									"in_message": {
										"value": {
											"value": "@concat('Error in activity Create_Or_Update_Linked_Service: ', activity('Create_Or_Update_Linked_Service').Error.Message)",
											"type": "Expression"
										},
										"type": "String"
									},
									"in_pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"in_pipeline_parameters": {
										"value": "None",
										"type": "String"
									},
									"in_pipeline_run_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"in_status_code": {
										"value": "FINISHED WITH ERRORS",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureSQL_metadataDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Update_last_deploy_date_Log_Success",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Update_last_deploy_date",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[meta].[p_fill_process_log]",
								"storedProcedureParameters": {
									"in_activity_type": {
										"value": "Stored procedure",
										"type": "String"
									},
									"in_message": {
										"value": {
											"value": "@concat('Update_last_deploy_date: ', activity('Update_last_deploy_date').output)",
											"type": "Expression"
										},
										"type": "String"
									},
									"in_pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"in_pipeline_parameters": {
										"value": "None",
										"type": "String"
									},
									"in_pipeline_run_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"in_status_code": {
										"value": {
											"value": "INFO",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureSQL_metadataDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Update_last_deploy_date_Log_Fail",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Update_last_deploy_date",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[meta].[p_fill_process_log]",
								"storedProcedureParameters": {
									"in_activity_type": {
										"value": "Stored procedure",
										"type": "String"
									},
									"in_message": {
										"value": {
											"value": "@concat('Error in activity Update_last_deploy_date: ', activity('Update_last_deploy_date').Error.Message)",
											"type": "Expression"
										},
										"type": "String"
									},
									"in_pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"in_pipeline_parameters": {
										"value": "None",
										"type": "String"
									},
									"in_pipeline_run_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"in_status_code": {
										"value": "FINISHED WITH ERRORS",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureSQL_metadataDB",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Get_Framework_Parameters_Log_Success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Get_Framework_Parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[meta].[p_fill_process_log]",
					"storedProcedureParameters": {
						"in_activity_type": {
							"value": "Lookup",
							"type": "String"
						},
						"in_message": {
							"value": {
								"value": "@concat('Framework parameters : ', activity('Get_Framework_Parameters').output.firstRow)",
								"type": "Expression"
							},
							"type": "String"
						},
						"in_pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"in_pipeline_parameters": {
							"value": "None",
							"type": "String"
						},
						"in_pipeline_run_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"in_status_code": {
							"value": {
								"value": "START",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureSQL_metadataDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Get_Framework_Parameters_Log_Fail",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Get_Framework_Parameters",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[meta].[p_fill_process_log]",
					"storedProcedureParameters": {
						"in_activity_type": {
							"value": "Lookup",
							"type": "String"
						},
						"in_message": {
							"value": {
								"value": "@concat('Error in activity Get_Framework_Parameters: ', activity('Get_Framework_Parameters').Error.Message)",
								"type": "Expression"
							},
							"type": "String"
						},
						"in_pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"in_pipeline_parameters": {
							"value": "None",
							"type": "String"
						},
						"in_pipeline_run_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"in_status_code": {
							"value": "FINISHED WITH ERRORS",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureSQL_metadataDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Get_Linked_Services_for_deployment_Log_Success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Get_Linked_Services_for_deployment",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[meta].[p_fill_process_log]",
					"storedProcedureParameters": {
						"in_activity_type": {
							"value": "Lookup",
							"type": "String"
						},
						"in_message": {
							"value": {
								"value": "@concat('Get_Linked_Services_for_deployment: ', activity('Get_Linked_Services_for_deployment').output)",
								"type": "Expression"
							},
							"type": "String"
						},
						"in_pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"in_pipeline_parameters": {
							"value": "None",
							"type": "String"
						},
						"in_pipeline_run_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"in_status_code": {
							"value": {
								"value": "INFO",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureSQL_metadataDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Get_Linked_Services_for_deployment_Log_Fail",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Get_Linked_Services_for_deployment",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[meta].[p_fill_process_log]",
					"storedProcedureParameters": {
						"in_activity_type": {
							"value": "Lookup",
							"type": "String"
						},
						"in_message": {
							"value": {
								"value": "@concat('Error in activity Get_Linked_Services_for_deployment: ', activity('Get_Linked_Services_for_deployment').Error.Message)",
								"type": "Expression"
							},
							"type": "String"
						},
						"in_pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"in_pipeline_parameters": {
							"value": "None",
							"type": "String"
						},
						"in_pipeline_run_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"in_status_code": {
							"value": "FINISHED WITH ERRORS",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureSQL_metadataDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Deploy_Linked_Services_Log_Success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Deploy_Linked_Services",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[meta].[p_fill_process_log]",
					"storedProcedureParameters": {
						"in_activity_type": {
							"value": "ForEach",
							"type": "String"
						},
						"in_message": {
							"value": {
								"value": "@concat('Deploy_Linked_Services: finished successfully')",
								"type": "Expression"
							},
							"type": "String"
						},
						"in_pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"in_pipeline_parameters": {
							"value": "None",
							"type": "String"
						},
						"in_pipeline_run_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"in_status_code": {
							"value": {
								"value": "FINISHED",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureSQL_metadataDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Deploy_Linked_Services_Log_Fail",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Deploy_Linked_Services",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[meta].[p_fill_process_log]",
					"storedProcedureParameters": {
						"in_activity_type": {
							"value": "ForEach",
							"type": "String"
						},
						"in_message": {
							"value": {
								"value": "@concat('Error in activity Deploy_Linked_Services: ', activity('Deploy_Linked_Services').Error.Message)",
								"type": "Expression"
							},
							"type": "String"
						},
						"in_pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"in_pipeline_parameters": {
							"value": "None",
							"type": "String"
						},
						"in_pipeline_run_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"in_status_code": {
							"value": "FINISHED WITH ERRORS",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureSQL_metadataDB",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "Framework/Create_Objects/META"
		},
		"annotations": [],
		"lastPublishTime": "2021-04-08T22:08:17Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}