pipeline/Run_In_Sequence.json
{
	"name": "Run_In_Sequence",
	"properties": {
		"activities": [
			{
				"name": "Run_Pipelines_Sequence",
				"description": "Loop responsible for executing scheduled pipelines",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.p_object_list",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set_pipeline_last_run_date",
							"description": "Activity responsible for updating pipeline's last run date.",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Handle_failed",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[meta].[p_update_object_refresh_date]",
								"storedProcedureParameters": {
									"in_object_skid": {
										"value": {
											"value": "@item().pipeline_skid",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"in_object_type_code": {
										"value": "PP",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureSQL_metadataDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Fill_Pipeline_AUTO_Runtime_Parameters",
							"description": "Activity responsible for generating auto pipeline runtime parameters.",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[meta].[p_get_auto_runtime_json_param]",
									"storedProcedureParameters": {
										"in_log_process_id": {
											"type": "Int32",
											"value": null
										},
										"in_pipeline_runtime_parameter_skid": {
											"type": "String",
											"value": {
												"value": "@{item().pipeline_runtime_parameter_skid}",
												"type": "Expression"
											}
										},
										"in_run_environment": {
											"type": "String",
											"value": {
												"value": "@pipeline().globalParameters.adf_environment",
												"type": "Expression"
											}
										},
										"in_staging_schema_name": {
											"type": "String",
											"value": null
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_metadata_db",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Fill_Pipeline_AUTO_Runtime_Parameters_Log_Success",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Fill_Pipeline_AUTO_Runtime_Parameters",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[meta].[p_fill_process_log]",
								"storedProcedureParameters": {
									"in_activity_type": {
										"value": "Lookup",
										"type": "String"
									},
									"in_message": {
										"value": {
											"value": "@concat('Auto parameters output : ', activity('Fill_Pipeline_AUTO_Runtime_Parameters').output)",
											"type": "Expression"
										},
										"type": "String"
									},
									"in_pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"in_pipeline_parameters": {
										"value": "None",
										"type": "String"
									},
									"in_pipeline_run_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"in_status_code": {
										"value": "INFO",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureSQL_metadataDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Fill_Pipeline_AUTO_Runtime_Parameters_Log_Fail",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Fill_Pipeline_AUTO_Runtime_Parameters",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[meta].[p_fill_process_log]",
								"storedProcedureParameters": {
									"in_activity_type": {
										"value": "Lookup",
										"type": "String"
									},
									"in_message": {
										"value": {
											"value": "@concat('Error in activity Fill_Pipeline_AUTO_Runtime_Parameters : ', activity('Fill_Pipeline_AUTO_Runtime_Parameters').Error.Message)",
											"type": "Expression"
										},
										"type": "String"
									},
									"in_pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"in_pipeline_parameters": {
										"value": {
											"value": "None",
											"type": "Expression"
										},
										"type": "String"
									},
									"in_pipeline_run_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"in_status_code": {
										"value": "FINISHED WITH ERRORS",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureSQL_metadataDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Set_pipeline_last_run_date_Log_Fail",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Set_pipeline_last_run_date",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[meta].[p_fill_process_log]",
								"storedProcedureParameters": {
									"in_activity_type": {
										"value": "Stored procedure",
										"type": "String"
									},
									"in_message": {
										"value": {
											"value": "@concat('Error in activity Set_pipeline_last_run_date: ', activity('Set_pipeline_last_run_date').Error.Message)",
											"type": "Expression"
										},
										"type": "String"
									},
									"in_pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"in_pipeline_parameters": {
										"value": "None",
										"type": "String"
									},
									"in_pipeline_run_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"in_status_code": {
										"value": "FINISHED WITH ERRORS",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureSQL_metadataDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Set_pipeline_last_run_date_Log_Success",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Set_pipeline_last_run_date",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[meta].[p_fill_process_log]",
								"storedProcedureParameters": {
									"in_activity_type": {
										"value": "Stored procedure",
										"type": "String"
									},
									"in_message": {
										"value": {
											"value": "@concat('Setting pipeline last_run finished successfully : ', activity('Set_pipeline_last_run_date').output)",
											"type": "Expression"
										},
										"type": "String"
									},
									"in_pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"in_pipeline_parameters": {
										"value": "None",
										"type": "String"
									},
									"in_pipeline_run_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"in_status_code": {
										"value": "INFO",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureSQL_metadataDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Handle_failed",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Check_if_depedency_failed",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@or(equals(activity('Check_status')?.output?.status, 'Failed'),equals(variables('v_skip_flag'),'Y'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Get_dependent",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderStoredProcedureName": "[meta].[p_get_dependent_object]",
												"storedProcedureParameters": {
													"in_critical_ind": {
														"type": "Int32",
														"value": {
															"value": "@item().critical_load_ind",
															"type": "Expression"
														}
													},
													"in_source_object_skid": {
														"type": "Int32",
														"value": {
															"value": "@item().object_skid",
															"type": "Expression"
														}
													},
													"in_source_system_skid": {
														"type": "Int32",
														"value": {
															"value": "@item().source_system_skid",
															"type": "Expression"
														}
													}
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "ds_metadata_db",
												"type": "DatasetReference"
											},
											"firstRowOnly": false
										}
									},
									{
										"name": "Set_temp_dependent",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Get_dependent",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "v_new_dep",
											"value": {
												"value": "@union(activity('Get_dependent').output.value, variables('v_dependecy'))",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Append_dependent",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Set_temp_dependent",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "v_dependecy",
											"value": {
												"value": "@variables('v_new_dep')",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "Check_if_depedency_failed",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Fill_Pipeline_AUTO_Runtime_Parameters_Log_Success",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@contains(join(variables('v_dependecy'),','), string(item().object_skid))",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Create_Pipeline_Run",
										"description": "Activity for using Data Factory REST API in order to schedule pipeline run.",
										"type": "WebActivity",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"url": {
												"value": "https://management.azure.com/subscriptions/@{pipeline().globalParameters.adf_subscription_id}/resourceGroups/@{pipeline().globalParameters.adf_resource_group_name}/providers/Microsoft.DataFactory/factories/@{pipeline().DataFactory}/pipelines/@{item().pipeline_name}/createRun?api-version=@{pipeline().globalParameters.adf_rest_api_version}",
												"type": "Expression"
											},
											"method": "POST",
											"body": {
												"value": "@{activity('Fill_Pipeline_AUTO_Runtime_Parameters').output.firstRow.runtime_param_json_filled}",
												"type": "Expression"
											},
											"authentication": {
												"type": "MSI",
												"resource": "https://management.azure.com/"
											}
										}
									},
									{
										"name": "Monitor_Progress",
										"type": "ExecutePipeline",
										"dependsOn": [
											{
												"activity": "Create_Pipeline_Run_Log_Success",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "Log_and_monitor_pipline",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"p_pipeline_run_id": {
													"value": "@{activity('Create_Pipeline_Run').output.runId}",
													"type": "Expression"
												},
												"p_tech_pipeline_run_id": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"p_object_skid": {
													"value": "@{item().object_skid}",
													"type": "Expression"
												}
											}
										}
									},
									{
										"name": "Create_Pipeline_Run_Log_Success",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Create_Pipeline_Run",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[meta].[p_fill_process_log]",
											"storedProcedureParameters": {
												"in_activity_type": {
													"value": {
														"value": "Web",
														"type": "Expression"
													},
													"type": "String"
												},
												"in_message": {
													"value": {
														"value": "@concat('Creating pipeline run finished successfully : ', activity('Create_Pipeline_Run').output)",
														"type": "Expression"
													},
													"type": "String"
												},
												"in_pipeline_name": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"in_pipeline_parameters": {
													"value": "None",
													"type": "String"
												},
												"in_pipeline_run_id": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"in_status_code": {
													"value": "INFO",
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_AzureSQL_metadataDB",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "Create_Pipeline_Run_Log_Fail",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Create_Pipeline_Run",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[meta].[p_fill_process_log]",
											"storedProcedureParameters": {
												"in_activity_type": {
													"value": "Web",
													"type": "String"
												},
												"in_message": {
													"value": {
														"value": "@concat('Error in activity Create_Pipeline_Run: ', activity('Create_Pipeline_Run').Error.Message)",
														"type": "Expression"
													},
													"type": "String"
												},
												"in_pipeline_name": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"in_pipeline_parameters": {
													"value": "None",
													"type": "String"
												},
												"in_pipeline_run_id": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"in_status_code": {
													"value": "FINISHED WITH ERRORS",
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_AzureSQL_metadataDB",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "Check_status",
										"type": "WebActivity",
										"dependsOn": [
											{
												"activity": "Monitor_Progress",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"url": {
												"value": "https://management.azure.com/subscriptions/@{pipeline().globalParameters.adf_subscription_id}/resourceGroups/@{pipeline().globalParameters.adf_resource_group_name}/providers/Microsoft.DataFactory/factories/@{pipeline().DataFactory}/pipelineruns/@{activity('Create_Pipeline_Run').output.runId}?api-version=@{pipeline().globalParameters.adf_rest_api_version}",
												"type": "Expression"
											},
											"method": "GET",
											"authentication": {
												"type": "MSI",
												"resource": "https://management.azure.com/"
											}
										}
									},
									{
										"name": "Set_not_skip_next_step",
										"description": "N",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Check_status",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "v_skip_flag",
											"value": {
												"value": "N",
												"type": "Expression"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Set_skip_next_step",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "v_skip_flag",
											"value": {
												"value": "Y",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Set_pipeline_last_run_date_Log_skipped",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Set_skip_next_step",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[meta].[p_fill_process_log]",
											"storedProcedureParameters": {
												"in_activity_type": {
													"value": "Stored procedure",
													"type": "String"
												},
												"in_message": {
													"value": {
														"value": "Pipline skipped because depdendent failed",
														"type": "Expression"
													},
													"type": "String"
												},
												"in_pipeline_name": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"in_pipeline_parameters": {
													"value": "None",
													"type": "String"
												},
												"in_pipeline_run_id": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"in_status_code": {
													"value": "SKIPPED",
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_AzureSQL_metadataDB",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_object_list": {
				"type": "array",
				"defaultValue": []
			}
		},
		"variables": {
			"v_object_skid_list": {
				"type": "Array"
			},
			"v_source_system": {
				"type": "Array"
			},
			"v_pipeline_runtime_skid": {
				"type": "String"
			},
			"v_dependecy": {
				"type": "Array"
			},
			"v_new_dep": {
				"type": "Array"
			},
			"v_object_skid": {
				"type": "String"
			},
			"v_skip_flag": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Framework/Schedule_Runs/"
		},
		"annotations": [],
		"lastPublishTime": "2021-05-11T08:27:25Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}